<form [formGroup]="formLogin"
      (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="pat@example.com"
      maxlength="256"
      [(ngModel)]="login.email"
    />
    <mat-error>Email error!</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Password"
      maxlength="256"
      minlength="6"
      [(ngModel)]="login.password"
    />
    <mat-error>Password error!</mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="formLogin.invalid">Login</button>
</form>