@import "../../../variables.scss";

.authorization {
  @include header(#fff, none);
  min-height: 900px;

  .content {
    .home {
      position: absolute;
      margin: 5px;
      z-index: 2;

      button {
        cursor: pointer;
      }
    }
  }
}