<header class="wrapper">
  <div class="content">
    <div class="logo">
      <a routerLink="/">Work</a>
    </div>
    <div class="navigation">
      <div class="top">
        <a class="active-link" routerLink="/employer">Employer</a>
      </div>

      <div class="bottom">
        <!-- TODO: Router to vacancies -->
        <a class="active-link" routerLink="/" routerLinkActive="active">Search vacancies</a>
        <a class="active-link" routerLink="/employer" routerLinkActive="active">Employer</a>
        <div *ngIf="true">
          <button routerLink="authorization" routerLinkActive="active" mat-stroked-button>Log in</button>
        </div>
        <!-- TODO: change -->
        <!-- <div *ngIf="">
          <a routerLink="profile" routerLinkActive="active">Profile</a>
          <button routerLink="" mat-stroked-button (click)="logout()">Logout</button>
        </div> -->
      </div>
    </div>
  </div>
</header>
