<header class="wrapper">
  <div class="content">
    <div class="logo">
      <a routerLink="/">Work</a>
    </div>
    <div class="navigation">
      <div class="top">
        <a class="active-link" routerLink="/employer">Employer</a>
      </div>

      <div class="bottom">
        <a class="active-link" routerLink="/employer">Employer</a>
        <a class="active-link" routerLink="/employer">Employer</a>
        <button mat-stroked-button>Log in</button>
      </div>
    </div>
  </div>
</header>
