<header class="wrapper">
  <div class="content">
    <div class="logo">
      <a routerLink="/">Work</a>
    </div>
    <div class="navigation">
      <div class="top">
        <a routerLink="/">Applicant</a>
      </div>

      <div class="bottom">
        <!-- TODO: Router to vacancies -->
        <a routerLink="/">Search vacancies</a>
        <a routerLink="/">Employer</a>
        <div *ngIf="!isLoggined"> 
          <button routerLink="/employer/authorization" mat-stroked-button>Log in</button>
        </div>
        <div *ngIf="isLoggined">
          <a routerLink="/employer/profile">Profile</a>
          <button mat-stroked-button (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>