$font-color: #3a3737;
$beige-color: rgba(255, 241, 112, 0.4);
$green-color: rgba(164, 255, 112, 0.4);
// $blue-color: rgba(112, 148, 255, 0.66);
$blue-color: rgb(148, 214, 255);
$light-blue-color: rgba(231, 246, 255, 1);
$box-shadow-full: 0px 10px 20px rgba(0, 0, 0, 0.2);
$box-shadow-lite: 0px 10px 20px rgba(0, 0, 0, 0.05);
$border-radius: 20px;
$max-width: 1336px;
$max-height: 100px;
$font-size: 25px;

@mixin header($background-color, $box-shadow) {
  background: $background-color;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  max-width: $max-width;
  max-height: $max-height;
  margin: 20px auto;
  color: $font-color;
  font-size: $font-size;
}

a {
  text-decoration: none;
  color: $font-color;
  transition: 0.3s;
}

.active-link:hover {
  color: $blue-color;
  transition: 0.2s;
}