<div class="wrapper">
  <div class="content">
    <div class="home example-button-container">
      <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
        <mat-icon routerLink="/">home</mat-icon>
      </button>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Sign In"><app-applicant-sign-in></app-applicant-sign-in></mat-tab>
      <mat-tab label="Sign Up"><app-applicant-sign-up></app-applicant-sign-up></mat-tab>
    </mat-tab-group>
  </div>
</div>
